<div class="info-window">
  <h2>Let`s Start Wor</h2>
    <%- if user_signed_in?  %>
      <%= link_to table_path do%>
        <button type="button" class="btn btn-primary me-2">Start</button>
      <%end%>
    <% else %>
      <%= link_to new_user_session_path do%>
        <button type="button" class="btn btn-primary me-2">Start</button>
      <%end%>
    <% end %>
<div>


